<!DOCTYPE html>
<html>

<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<title>Ticket Details</title>
</head>

<body>
	<form th:action="@{/get-ticket}">
		Enter Ticket Number: <input type="text" name="ticketNumber" th:value="${param.ticketNumber}" />
		<input type="submit" value="Get Ticket">
	</form>
	<hr />
	<h3>Ticket Details:</h3>
	<p><strong>Ticket Number:</strong> <span th:text="${ticket.ticketNumber}"></span></p>
	<p><strong>Status:</strong> <span th:text="${ticket.status}"></span></p>
	<p><strong>Name:</strong> <span th:text="${ticket.name}"></span></p>
	<p><strong>From:</strong> <span th:text="${ticket.from}"></span></p>
	<p><strong>To:</strong> <span th:text="${ticket.to}"></span></p>
	<p><strong>Date of Journey:</strong> <span th:text="${ticket.doj}"></span></p>
	<p><strong>Train Number:</strong> <span th:text="${ticket.trainNumber}"></span></p>
</body>

</html>